{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    
    <h2>Admin Panel</h2>
    <hr>

    <!-- Users List -->
    <h3>All Users & Post Count</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Post Count</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }} - {{ user.role }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.post_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <!-- Posts List -->
    <h3>All Blog Posts</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author.username }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button type="submit" name="action" value="delete_post" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this post?');">
                            Delete Post
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}