{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">All Authors & Their Blog Post Count</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Author</th>
                <th>Number of Posts</th>
                <th>View Posts</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.post_count }}</td>
                    <td>
                        <a href="{% url 'post_list' %}?author={{ user.username }}" class="btn btn-primary btn-sm">
                            View Posts
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
